/************
* VARIABLEN *
*************/




/***************
 * ALLGEMEINES *
 ***************/

 .hidden{
    display: none;
    
 }

html, body{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-y: auto;
    height: 100%;
}

body{
    /* Hintergrundfarbe*/
    background-image: linear-gradient(rgb(0,8,51,0.9), rgb(0,8,51,0.9)), url(images/wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation: start 3s 1 forwards;
    overflow: hidden;

    
    display: flex;
    flex-direction: column;
    
    overflow: auto;
    min-height: 100vh;
    color: white;
}

/* Startanimation */
@keyframes start {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }   
}

header, footer {
    padding: 0;
    margin-top: 0;
    
}



/***************
 * KOPFBEREICH *
 ***************/

header{
    background: rgba(32, 59, 233, 0.178);
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.2);
    
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column; 
}

header .header-container{
   display: flex;
   justify-content: center;
   align-items: center;
}
 
/* Schriftart Ueberschrift */
header h1{
    font-size: 1.5rem;    
} 

/* Navigation-Bar */
header .navigation{ 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

/* Zentrieren der ul innerhalb des nav-containers */
header .navigation ul{
    list-style-type: none;
    padding: 0;
}

/* Design und Abstand der Listenelemente */
header .navigation .list-element{
    margin-bottom: 0.7em;
    cursor: pointer; 
}

header .navigation a{
   color: white;
}



/***************
 *  HAUPTBEREICH *
 ***************/
main{
    padding: 0;
    margin: 0;
    flex: 1;
    margin-bottom: 2em;   
}

/* Anordnung Mobile-First */
main .hauptbereich{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    
    margin-top: 3em;
   
    gap: 2em;
 }

 /* Suchleiste Darstellung */
main .searchbar{
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 5px 5px;
    margin: 0px 0px;
    }

main .searchbar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 1em 1.5em;
    font-size: 15px;
    color: white;
}

/* Button "Lupe" anpassen"*/
main .searchbar button img{
    width: 2em;
}

main .searchbar button{
    border: 0;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    background: rgba(0,0,0, 0.2);
    cursor: pointer;
}

/* Farbe des Placeholders "Suchen..." anpassen */
main .searchbar input::placeholder{
    color: white;

}
    
main #textfeld{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1em; 
    margin-left: 1em;
    margin-right: 1em;


    /* Die eingefügten Namen sollen untereinander stehen */
    flex-direction: column;
    gap: 2em;

 }

/* textfeld wird nach der API-Abfrage durch div Container der Klasse "kunden-container" ersetz */
main .kunden-container{
}

main #personenauswahl{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1.5em;
    padding: 0.5em 0.5em;
    border: none;
    transition: font-size 0.3s;

    cursor: pointer;
    color: white;
}


/* Animation für hervorheben des Suchergebnisses - wenn die Maus über das Element fährt */
main #personenauswahl:hover{
    font-size: 115%;
}


/***************
 * FUSSBEREICH *
 ***************/

 footer{
    width: 100%;
    color: white;
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 1em;

    background: rgba(32, 59, 233, 0.178);
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
 }

 #firma{
 
 }




