/***************
 * ALLGEMEINES *
 ***************/
 .hidden{
    display: none;
    
 }

html, body{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-y: auto;
    height: 100%;
}

body{
    /* Hintergrundfarbe*/
    background-image: linear-gradient(rgb(0,8,51,0.9), rgb(0,8,51,0.9)), url(images/wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    animation: start 3s 1 forwards;
    overflow: hidden;

    
    display: flex;
    flex-direction: column;
    
    overflow: auto;
    min-height: 100vh;
    color: white;
}

/* Startanimation */
@keyframes start {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }   
}

header, footer {
    padding: 0;
    margin-top: 0;
    
}



/****************
 *  MEDIA QUERY *
 ****************/
 @media screen and (min-width: 768px) {
    
    /***************
    * KOPFBEREICH *
    ***************/
    /* Header Elemente Vertikal poisitonieren */
    header{
        padding-bottom: 20px;
        position: sticky;
    }
    
    header .navigation ul{
        display: flex;
        justify-content: center;
    }


    /* Hier hatte ich Probleme, das mittlere Element vertikal zu zentrieren,
    da ich zwar den ul-container zentrieren konnte, "Kontakt" stand jedoch nie
    vertikal zentriert unter dem h1-container des headers. Deswegen musste ich 
    die Positionen der einzelnen li-elemente hardcoden */
    header .navigation ul #erstes_ul_element{
        position: absolute;
        left: 25%;
        transform: translateX(-50%);
    } 

    header .navigation ul #zweites_ul_element{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    header .navigation ul #drittes_ul_element{
        position: absolute;
        left: 75%;
        transform: translateX(-50%);
    } 

    
    /************************
    *  HAUPTBEREICH SEITE 1 *
    ************************/
    /* hauptbereich-Container weiter nach unten verschieben */
    main .hauptbereich{
        margin-top: 6em;
        gap: 3.5em;
    }

    /* Searchbar-Größe anpassen */
    main .searchbar{
        padding: 15px;
        padding-right: 0.3em;
        padding-left: 1.5em;
    }
    
    main .searchbar input{
        font-size: 0.9em;
        padding-left: 0;
        margin-left: 0;
        margin-right: 2em;
    }

    main .searchbar button img{
        width: 3.5em;
    }

    main .searchbar button{
        width: 5em;
        height: 5em;
        margin-right: 0;
        padding-right: 0;
    }


  
   




    /****************
    * Schriftgrößen *
    *****************/
    /* Hier findet eine Anpassung aller restlichen Schriftgrößens statt (teilweise wird auch oben angepasst) */
    header h1{
        font-size: 3rem;    
    }

    main .hauptbereich{
        font-size: 130%;
    }

    main .searchbar input::placeholder{
        font-size: 1.1em;
    }

    footer{
        font-size: 1.5rem;
    }
 
 }


@media print{
    header{
        display: none;
    }
    
    footer {
        display: none;
    }
}